* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 5vh;
	font-family: "Grape Nuts", cursive; //add google fonts+add in index
}
body {
	background-image: url(bg.jpg);
	background-repeat: repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: scroll; //add scroll to page
}
section {
	//height: 90vh;
	width: 60vw;
	margin: 0 auto;
	//background-color: antiquewhite;
	text-align: center;
}
h1 {
	padding: 50px;
	font-size: 120%;
}
.newTask,
.addTask {
	width: 60vw;
	//height: 3vh;
}
.addTask {
	margin: 10px 0;
	border: 1px solid blue;
	border-radius: 10px;
	opacity: 50%;
}
.addTask:hover {
	//box-shadow: 10px 5px;
	background-color: bisque;
	opacity: 100%;
}
.containerTasks {
	//border: 1px solid blue;
	//height: 70%;
	width: 80%;
	margin: 0 auto;
	//background-color: aqua;
	text-align: left;
}
.done {
	height: 2vh;
	width: 2%;
	//outline: 2px solid blue; /*border not works, outline good for inputs*/
}
done:hover {
	/*background: white; not working- only outline!*/
	outline: 5px solid grey;
}
.newInputStyle {
	display: inline-block;
	margin: 1vh 0;
	height: 3wv;
	width: 95%;
	margin-left: 3%;
	border-width: 0 0 1px 0;
	border-style: dashed;
	padding: 1%;
}
.deleteTask {
	background-color: darkgrey;
	text-decoration: line-through;
}
.newTask::placeholder {
	font-size: 4vh;
}
button.print {
	margin-top: 5vh;
	margin-left: 20%;
}
